rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
      
      function isSignedIn() {
        return request.auth != null;
      }
      

      function isOwner(userId) {
        return request.auth.uid == userId;
      }

      match /users/{userId} {

        allow read: if isSignedIn() && isOwner(userId);
        allow create, update: if isSignedIn() && isOwner(userId);
        allow delete: if false;
      }

      match /weaves/{weaveId} {
        allow read: if isSignedIn();
        allow create: if isSignedIn();
        allow update: if isSignedIn() && 
          request.auth.uid in resource.data.admins;
        allow delete: if isSignedIn() && 
          request.auth.uid in resource.data.admins;
      }
      
      match /polls/{pollId} {
        allow read, write: if isSignedIn();
      }

      match /comments/{commentId} {
        allow read, write: if isSignedIn();
      }
    }
}