rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
      
      function isSignedIn() {
        return request.auth != null;
      }
      

      function isOwner(userId) {
        return request.auth.uid == userId;
      }

      match /users/{userId} {

        allow read: if isSignedIn() && isOwner(userId);
        allow create, update: if isSignedIn() && isOwner(userId);
        allow delete: if false;
      }

      match /weaves/{weaveId} {
        allow read: if isSignedIn();
        allow create: if isSignedIn();
        allow update: if isSignedIn() && 
          request.auth.uid in resource.data.admins;
        allow delete: if isSignedIn() && 
          request.auth.uid in resource.data.admins;
      }
      
      match /polls/{pollId} {
        allow read: if isSignedIn();
        allow create: if isSignedIn();
        allow update: if isSignedIn() && 
          (request.auth.uid == resource.data.createdBy ||
          request.resource.data.diff(resource.data).affectedKeys()
            .hasOnly(['votes', 'voters', 'status', 'commentCount']));
        
        allow delete: if isSignedIn() && 
          request.auth.uid == resource.data.createdBy;
      }

      match /comments/{commentId} {
        allow read: if isSignedIn();   
        allow create: if isSignedIn();
        allow update: if isSignedIn() && 
          request.auth.uid == resource.data.createdBy;
        allow delete: if isSignedIn() && 
          request.auth.uid == resource.data.createdBy;
      }
    }
}